Repository comunica/comunica, pull requests merged in 2020-03, with the labels that each got.

#630 Support slicing of quad streams
  package.json
  packages/actor-abstract-path/package.json
  packages/actor-optimize-query-operation-join-bgp/package.json
  packages/actor-query-operation-from-quad/package.json
  packages/actor-query-operation-path-alt/package.json
  packages/actor-query-operation-path-inv/package.json
  packages/actor-query-operation-path-link/package.json
  packages/actor-query-operation-path-nps/package.json
  packages/actor-query-operation-path-one-or-more/package.json
  packages/actor-query-operation-path-seq/package.json
  packages/actor-query-operation-path-zero-or-more/package.json
  packages/actor-query-operation-slice/lib/ActorQueryOperationSlice.ts
  packages/actor-query-operation-slice/test/ActorQueryOperationSlice-test.ts
  packages/actor-query-operation-sparql-endpoint/package.json
  packages/actor-rdf-resolve-hypermedia-sparql/package.json
  packages/actor-rdf-resolve-quad-pattern-sparql-json/package.json
  packages/actor-sparql-parse-algebra/package.json
  packages/bus-optimize-query-operation/package.json
  yarn.lock
Labels: bug

#633 Consider sources ending with '/sparql' as SPARQL endpoints, Closes #535
  packages/actor-rdf-resolve-hypermedia-sparql/components/Actor/RdfResolveHypermedia/Sparql.jsonld
  packages/actor-rdf-resolve-hypermedia-sparql/lib/ActorRdfResolveHypermediaSparql.ts
  packages/actor-rdf-resolve-hypermedia-sparql/test/ActorRdfResolveHypermediaSparql-test.ts
Labels: bug

#624 Scope blank nodes to each federated source
  packages/actor-rdf-resolve-quad-pattern-federated/index.ts
  packages/actor-rdf-resolve-quad-pattern-federated/lib/BlankNodeScoped.ts
  packages/actor-rdf-resolve-quad-pattern-federated/lib/FederatedQuadSource.ts
  packages/actor-rdf-resolve-quad-pattern-federated/package.json
  packages/actor-rdf-resolve-quad-pattern-federated/test/BlankNodeScoped-test.ts
  packages/actor-rdf-resolve-quad-pattern-federated/test/FederatedQuadSource-test.ts
Labels: feature

#637 IN PROGRESS: Support all operations for SPARQL endpoints
  packages/actor-query-operation-sparql-endpoint/lib/ActorQueryOperationSparqlEndpoint.ts
  packages/actor-query-operation-sparql-endpoint/test/ActorQueryOperationSparqlEndpoint-test.ts
Labels: bug

#634 Discover and handle default graph overrides
  packages/actor-rdf-metadata-extract-sparql-service/lib/ActorRdfMetadataExtractSparqlService.ts
  packages/actor-rdf-metadata-extract-sparql-service/test/ActorRdfMetadataExtractSparqlService-test.ts
  packages/actor-rdf-resolve-hypermedia-qpf/lib/RdfSourceQpf.ts
  packages/actor-rdf-resolve-hypermedia-qpf/test/RdfSourceQpf-test.ts
Labels: performance
